<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
      <table>
        <tr>
          <td width="250">Title: <%= link.title %></td>
          <td width="250">URL:   <%= link.url   %></td>
          <td width="250">Tags:  <%= link.tags.map(&:name).join(", ")  %></td>
        </tr>
      </table>
  <% end %>
</ul>
